 .row-header {
     margin: 0px auto;
     padding: 0px auto;
 }
 .row-content {
     margin: 0px auto;
     padding: 50px 0px 50px 0px;
     border-bottom: 1px ridge;
     min-height: 400px;
 }
 .row-footer {
     background-color: #AfAfAf;
     margin: 0px auto;
     padding: 20px 0px 20px 0px;
 }
 .jumbotron {
     padding: 70px 30px 70px 30px;
     font-family: "Georgia";
     margin: 0px auto;
     background: #556B2F;
     color: floralwhite;
 }
 address {
     font-size: 80%;
     margin: 0px;
     color: #0f0f0f;
 }
 body {
     padding: 50px 0px 0px 0px;
     z-index: 0;
 }
 .navbar-inverse {
     background: darkred;
 }
 .navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover,
 .navbar-inverse .navbar-nav > .active > a:focus {
     color: #fff;
     background: brown;
 }
 .navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
     color: #fff;
     background: darkred;
 }
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
 .navbar-inverse .navbar-nav .open .dropdown-menu {
     background-color: darkred;
     color: #eeeeee;
 }
 .navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
     color: #000000;
 }
 .tab-content {
     border-left: 1px solid #ddd;
     border-right: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     padding: 10px;
 }
 .affix {
     top: 100px;
 }
 .carousel {
     background: #B8860B;
     font-family: "Georgia";
     border-style: solid;
     border-width: 5px;
     border-color: brown;
 }
 .carousel .item {
     height: 300px;
 }
 .item img {
     position: absolute;
     top: 0;
     left: 0;
     height: 300px;
 }
 #carouselButtons {
     right: 0px;
     position: absolute;
     bottom: 0px;
 }
 #myBtn {
     right: 40px;
     position: absolute;
     bottom: 400px;
 }
 #result {
     color: #fff;
     text-align: center;
     background-color: #556B2F;
     width: 300px;
     height: 50px;
     font-size: 135%;
     font-weight: bold;
     border-style: solid;
     border-width: 5px;
     border-color: brown;
 }
